:root {
  --primary-red: #ff1510;
  --secondary-red: #fdecec;
  --green: #e7f6e7;
  --black: #404040;
  --dkgray: #8c8c8c;
  --ltgray: #b9b9b9; 
}

.App { 
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.main-content {
  max-width: 1200px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*Header*/

.app-slogan h1 {
  margin: 0;
  color: var(--black);
}

.app-slogan p {
  font-size: 15px;
  font-weight: 600;
  color: var(--dkgray);
  margin-bottom: 3em;
}

.search-input {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.search-input::after {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='19px' height='19px' viewBox='0 0 19 19' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EShape@1,5x%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Guide' transform='translate(-90.000000, -634.000000)' fill='%23FF0000' fill-rule='nonzero'%3E%3Cpath d='M108.684286,651.201646 L104.024604,646.536351 C106.367461,643.486968 106.133175,639.082305 103.321746,636.293553 C101.785873,634.75583 99.8074606,634 97.8030161,634 C95.7985716,634 93.8201589,634.75583 92.2842858,636.293553 C89.2385714,639.342936 89.2385714,644.294925 92.2842858,647.344307 C93.8201589,648.88203 95.7985716,649.63786 97.8030161,649.63786 C99.4690479,649.63786 101.13508,649.116598 102.514762,648.048011 L107.200477,652.687243 C107.408731,652.895748 107.669048,653 107.955397,653 C108.215715,653 108.502064,652.895748 108.710318,652.687243 C109.100794,652.296296 109.100794,651.618656 108.684286,651.201646 Z M97.6496129,647.194444 C96.1557999,647.194444 94.7885811,646.612443 93.7251888,645.574962 C91.5730852,643.424087 91.5730852,639.906773 93.7251888,637.730594 C94.7632623,636.693113 96.1557999,636.111111 97.6496129,636.111111 C99.143426,636.111111 100.510645,636.693113 101.574037,637.730594 C102.637429,638.768075 103.194444,640.159817 103.194444,641.652778 C103.194444,643.145738 102.612111,644.512177 101.574037,645.574962 C100.535964,646.637747 99.1181071,647.194444 97.6496129,647.194444 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  left: 13.1em;
  top: 11px;
}

.search-input input {
  width: 65%;
  padding: 11px;
  border-radius: 25px;
  background-color: var(--secondary-red);
  border-color: transparent;
  text-indent: 3em;
}

.search-input input::placeholder {
  color: var(--primary-red);
  opacity: 0.8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Home Page*/

.grid {
  display: grid;
}

.characters > div {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.characters > div p {
  color: var(--ltgray);
}

.characters > div button {
  background-color: transparent;
  color: var(--primary-red);
  border: none;
  display: flex;
  align-items: center;
    gap: 7px;
}

.characters > div button::before {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Guide' transform='translate(-155.000000, -829.000000)' fill='%23FF0000' fill-rule='nonzero'%3E%3Cpath d='M171.428712,839.053345 L164.268331,846.885348 C164.199896,846.960594 164.102641,847 164.001802,847 C163.900941,847 163.803707,846.960594 163.735272,846.885348 L156.574892,839.053345 C154.475036,836.760342 154.475036,833.030654 156.574892,830.737651 C157.59779,829.616232 158.962887,829 160.418006,829 C161.750677,829 163.011307,829.515925 164.001802,830.465354 C164.992297,829.515925 166.249322,829 167.581993,829 C169.037112,829 170.405792,829.616232 171.432318,830.737651 C173.524963,833.030654 173.521357,836.760342 171.428712,839.053345 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
}

.characters ul {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  gap: 6em 3em;
  padding: 0;
}

li.hero-square > div {
  grid-template-columns: 70% 1fr;
  margin: auto;
}

.hero-pic {
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--primary-red);
  border-radius: 2px;
}

h2.h-name {
  font-size: 15px;
  color: var(--black);
  text-align: left;
}

li.hero-square button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

/*Page do Herói*/
.hero-grid {
  grid-template-columns: 35% 1fr;
  gap: 1em;
  margin-top: 5em;
}

.hero-info {
  text-align: left;
}

.name-fav {
  grid-template-columns: 80% 1fr;
}

.name-fav h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
  text-align: left;
  color: var(--black);
}

.name-fav button {
  background: none;
  border: none;
}

.hero-desc p {
  margin-top: 3em;
  color: var(--dkgray);
}

.comics-movies {
  grid-template-columns: 1fr 1fr;
  color: var(--black);
}

.comics-movies p.comics small::before {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='31px' viewBox='0 0 28 31' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup@1,5x%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Guide' transform='translate(-303.000000, -823.000000)' fill='%23FF0000' fill-rule='nonzero'%3E%3Cg id='Group' transform='translate(303.000000, 823.000000)'%3E%3Cpath d='M10.4102564,0 C8.61538462,7.04545374 6.1025641,8.80681718 0,10.9204533 L0,15.8522744 L12.9230769,31 L12.9230769,26.4204551 C18.3076923,24.6590916 21.5384615,20.7840921 23.6923077,16.2045471 L10.4102564,0 Z M13.2820513,31 C20.1025641,29.2386366 24.7692308,27.4772731 26.9230769,26.4204551 L26.9230769,22.5564464 C23.6026933,25.1532598 17.2728338,28.7945968 13.2820513,30.2954546 L13.2820513,31 Z M14,1.76135991 L13.3269231,2.4218712 L24.2532051,15.7531801 C24.4190764,15.9569699 24.4552682,16.2543937 24.3429487,16.4907687 C22.1558005,21.1411204 18.8094021,25.2727507 13.2820513,27.1250004 L13.2932513,27.917614 C19.036841,26.5085232 23.3333154,21.4886374 27.2820333,16.9090925 L13.9999821,1.76135991 L14,1.76135991 Z M11.3076744,5.16299305 L14.1794692,8.33344723 C14.3612395,8.53687062 14.4070913,8.84734263 14.2916487,9.09303522 C12.8056528,12.3741101 10.8425836,14.3136037 7.8637641,15.7751972 C7.58186513,15.9147676 7.20790359,15.8432563 7,15.610087 L3.76923077,12.0873531 C3.44875282,11.7336361 3.64255231,11.0743401 4.10576923,10.9424668 C7.57774769,9.92031944 8.70825128,8.80465423 10.1073718,5.37215496 C10.5250744,4.837789 10.7802692,4.82200366 11.3076744,5.16299305 Z M10.9375,6.8803224 C9.71289128,9.43498631 8.15512205,10.9250786 5.53044872,11.9002082 L7.68429487,14.2450233 C10.0177467,13.0098953 11.5234467,11.5116937 12.7772436,8.91689887 L10.9375,6.8803224 Z M26.3060897,19.1217877 C22.9835595,22.9051259 18.0500026,27.3454879 13.2820513,28.8863639 L13.2820513,29.5909093 C18.6666667,28.1818185 23.6923077,24.3068189 28,20.7840921 L26.3060897,19.1217877 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transform: scale(0.82);
}

.comics-movies p.movies small::before {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='30px' height='23px' viewBox='0 0 30 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EShape@1,5x%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Guide' transform='translate(-384.000000, -828.000000)' fill='%23FF0000' fill-rule='nonzero'%3E%3Cpath d='M411.615,828 L386.385,828 C385.752459,828 385.145825,828.258584 384.69855,828.718866 C384.251276,829.179148 384,829.803425 384,830.454362 L384,848.545638 C384,849.901145 385.067801,851 386.385,851 L411.615,851 C412.932199,851 414,849.901145 414,848.545638 L414,830.454362 C414,829.098855 412.932199,828 411.615,828 Z M388.994709,846.613596 C388.994709,846.827001 388.824151,847 388.613757,847 L385.380952,847 C385.170558,847 385,846.827001 385,846.613596 L385,844.386404 C385,844.172999 385.170558,844 385.380952,844 L388.619048,844 C388.829442,844 389,844.172999 389,844.386404 L388.994709,846.613596 Z M388.994709,840.613596 C388.994709,840.827001 388.824151,841 388.613757,841 L385.380952,841 C385.170558,841 385,840.827001 385,840.613596 L385,838.386404 C385,838.172999 385.170558,838 385.380952,838 L388.619048,838 C388.829442,838 389,838.172999 389,838.386404 L388.994709,840.613596 Z M388.994709,834.612903 C388.994709,834.826691 388.824151,835 388.613757,835 L385.380952,835 C385.170558,835 385,834.826691 385,834.612903 L385,832.376344 C385.005731,832.166767 385.174622,831.999919 385.380952,832 L388.619048,832 C388.829442,832 389,832.173309 389,832.387097 L388.994709,834.612903 Z M402.569953,840.819144 L396.337568,844.863018 C396.064804,845.040849 395.724577,845.045863 395.447433,844.876137 C395.170289,844.70641 394.999272,844.388302 395,844.043874 L395,835.956126 C394.999272,835.611698 395.170289,835.29359 395.447433,835.123863 C395.724577,834.954137 396.064804,834.959151 396.337568,835.136982 L402.569953,839.180856 C402.836658,839.35299 403,839.66412 403,840 C403,840.33588 402.836658,840.64701 402.569953,840.819144 Z M413,846.613596 C413,846.827001 412.829216,847 412.618543,847 L409.381457,847 C409.170784,847 409,846.827001 409,846.613596 L409,844.386404 C409,844.172999 409.170784,844 409.381457,844 L412.618543,844 C412.829216,844 413,844.172999 413,844.386404 L413,846.613596 Z M413,840.613596 C413,840.827001 412.829216,841 412.618543,841 L409.381457,841 C409.170784,841 409,840.827001 409,840.613596 L409,838.386404 C409,838.172999 409.170784,838 409.381457,838 L412.618543,838 C412.829216,838 413,838.172999 413,838.386404 L413,840.613596 Z M413,834.614286 C413,834.82731 412.829216,835 412.618543,835 L409.381457,835 C409.170784,835 409,834.82731 409,834.614286 L409,832.385714 C409,832.17269 409.170784,832 409.381457,832 L412.618543,832 C412.829216,832 413,832.17269 413,832.385714 L413,834.614286 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transform: scale(0.82);
}

.comics-movies p small{
display: flex;
align-items: center;
gap: 1em;
margin-top: 0.4em;
}

.reviews-date {
  color: var(--black);
}

.reviews-date .reviews::after {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='87px' height='15px' viewBox='0 0 87 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 4@1,5x%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Guide' transform='translate(-483.000000, -831.000000)' fill='%23FF0000' fill-rule='nonzero'%3E%3Cg id='Group-4' transform='translate(483.000000, 831.000000)'%3E%3Cpath d='M33.3180376,5.26581107 L28.683786,4.53399175 C28.683786,4.53399175 27.4956731,1.88164657 26.7273737,0.578968174 C25.9580553,-0.723710218 25.3996626,0.578968174 25.3996626,0.578968174 L23.3260694,4.53399175 L18.598073,5.21982243 C17.3875429,5.76868692 18.3891852,6.56948922 18.3891852,6.56948922 L21.6254172,9.65272802 L20.8326627,14.1786107 C20.6696283,15.5262779 22.0910841,14.7954584 22.0910841,14.7954584 L26.0263259,12.8289439 L30.0349332,14.8404473 C31.4095167,15.457295 31.1527375,14.0866334 31.1527375,14.0866334 L30.4527088,9.67572234 L33.597234,6.54549514 C34.6447297,5.58373259 33.3180376,5.26581107 33.3180376,5.26581107 Z' id='Path'%3E%3C/path%3E%3Cpath d='M68.3180376,5.26516225 L63.683786,4.53329414 C63.683786,4.53329414 62.4956731,1.88177199 61.7273737,0.579006765 C60.9580553,-0.723758456 60.3996626,0.579006765 60.3996626,0.579006765 L58.3260694,4.53329414 L53.598073,5.21917053 C52.3875429,5.76807161 53.3891852,6.56892729 53.3891852,6.56892729 L56.6254172,9.6523716 L55.8326627,14.1785559 C55.6696283,15.526313 57.0910841,14.7954447 57.0910841,14.7954447 L61.0263259,12.8287992 L65.0349332,14.8404366 C66.4095167,15.4573255 66.1527375,14.0865725 66.1527375,14.0865725 L65.4527088,9.67536746 L68.597234,6.54493161 C69.6447297,5.58310495 68.3180376,5.26516225 68.3180376,5.26516225 Z' id='Path'%3E%3C/path%3E%3Cpath d='M51.3180376,5.26581107 L46.683786,4.53399175 C46.683786,4.53399175 45.4956731,1.88164657 44.7273737,0.578968174 C43.9580553,-0.723710218 43.3996626,0.578968174 43.3996626,0.578968174 L41.3260694,4.53399175 L36.598073,5.21982243 C35.3875429,5.76868692 36.3891852,6.56948922 36.3891852,6.56948922 L39.6254172,9.65272802 L38.8326627,14.1786107 C38.6696283,15.5262779 40.0910841,14.7954584 40.0910841,14.7954584 L44.0263259,12.8289439 L48.0349332,14.8404473 C49.4095167,15.457295 49.1527375,14.0866334 49.1527375,14.0866334 L48.4527088,9.67572234 L51.597234,6.54549514 C52.6447297,5.58373259 51.3180376,5.26581107 51.3180376,5.26581107 Z' id='Path'%3E%3C/path%3E%3Cpath d='M15.3176118,5.26581107 L10.683489,4.53399175 C10.683489,4.53399175 9.49540914,1.88164657 8.72713108,0.578968174 C7.95783409,-0.723710218 7.39945693,0.578968174 7.39945693,0.578968174 L5.32592133,4.53399175 L0.598056353,5.21982243 C-0.61244011,5.76868692 0.389174388,6.56948922 0.389174388,6.56948922 L3.62531645,9.65272802 L2.83258391,14.1786107 C2.66955409,15.5262779 4.09097039,14.7954584 4.09097039,14.7954584 L8.02610283,12.8289439 L12.0345987,14.8404473 C13.4091439,15.457295 13.1523719,14.0866334 13.1523719,14.0866334 L12.4523626,9.67572234 L15.5968004,6.54549514 C16.645286,5.58373259 15.3176118,5.26581107 15.3176118,5.26581107 Z' id='Path'%3E%3C/path%3E%3Cpath d='M86.3180376,5.26532221 L81.683786,4.53443172 C81.683786,4.53443172 80.4956731,1.88182916 79.7273737,0.579024356 C78.9580553,-0.723780445 78.3996626,0.579024356 78.3996626,0.579024356 L76.3260694,4.53443172 L71.598073,5.2193291 C70.3875429,5.76824686 71.3891852,6.56812701 71.3891852,6.56812701 L74.6254172,9.65266485 L73.8326627,14.1779868 C73.6696283,15.5267847 75.0910841,14.7948944 75.0910841,14.7948944 L79.0263259,12.8291889 L83.0349332,14.8408875 C84.4095167,15.4567952 84.1527375,14.0860006 84.1527375,14.0860006 L83.4527088,9.67466156 L86.597234,6.54413061 C87.6447297,5.58327457 86.3180376,5.26532221 86.3180376,5.26532221 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.reviews-date p {
  margin: 2em 0;
}

.last-releases {
  text-align: left;
  margin-top: 5em;
}

.last-releases h3 {
  margin-bottom: 3em;
}

.last-releases ul {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  text-align: center;
  gap: 4em 2em;
  color: var(--black);
  font-weight: bold;
}

/*footer*/
.footer {
  background: var(--primary-red);
  font-size: 10px;
  color: white;
  padding: 50px;
  margin-top: 20em;
}